.section {
  background: #9aa77a;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;
}


@media (min-width: 768px) {
  .block {
    grid-template-columns: 300px 1fr;
  }
  .reverse {
    direction: rtl;
  }

  .reverse .right {
    direction: ltr;
  }
}


.left {
  position: relative;
  display: flex;
  justify-content: center;
}

.left-border {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 286px;
  aspect-ratio: 286 / 367;
  border: 2px solid #c8e36a;
  border-radius: 16px;
  top: 20px;
  left: 20px;
}

.left-image {
  position: relative;
  width: 100%;
  max-width: 300px;       
  aspect-ratio: 286 / 367;  
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
}

.right {
  text-align: center;
}

@media (min-width: 768px) {
  .right {
    text-align: left;
  }
}




.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 284px));
  justify-content: center;
  gap: 20px;
}


.card {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


.image-wrap {
  position: relative;
  width: 100%;
  max-width: 260px;  
  aspect-ratio: 220/ 284; 
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: contain;
}

.btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: #4b4f1f;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-bottom: 30px;
}

.header-left-wrapper,
.header-right-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}